@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  @page {
    size: landscape;
    margin: 0;
  }
  
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  
  .print-only {
    display: block !important;
  }
  
  .print-slide {
    width: 100vw;
    height: 100vh;
    page-break-after: always;
    break-after: page;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: white;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  
  .print-slide:last-child {
    page-break-after: avoid;
    break-after: avoid;
  }
}
